.jumbotron {
  padding-top: 6rem;
  background-color: #EB25D7;
}

#MyProject {
  background-color: #E1C8DE;
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}
.href {
}
